<!DOCTYPE html>
<html>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/rails_default' %>
  <%= render 'layouts/shim' %>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%# コメントアウト %>
        <% if false %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        
        <%= content_tag(:div,message,class: "alert alert-#{message_type}")%>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
